body {
  font-family: "Montserrat";
}


#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 10% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Navigation bar */

.navbar {
  padding:0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: normal;
}

/* download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
  right: 30%;
}


/* feature section */

#features {
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;

}

.feature-h3 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-p {
  color: #8f8f8f;
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 5%;
}

.feature-icon:hover {
  color: #ff4c68;
}


/* Testimonials section */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin:20px;
}


/* press section */

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom:7%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.5;
}


/* Call To Action Section */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.download-button-cta {
  margin: 5% 3% 5% 0;
}


/* Footer Icon */

#footer {
  text-align: center;
  background-color: #fff;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

/* Mobile CSS */

@media (max-width: 1028px) {

#title {
  text-align: center;
}

.title-image {
  transform: rotate(0);
  position: static;
}

}
